*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: #F0F0F0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, form, input, p, ul, li{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 20px;
    display: block;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    gap: 5.38px;
    border-radius: 2.15px;
    text-decoration: none;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 10px;
    border: 1px solid black;
    color: black;
    align-items: center;
}

.dark{
    color: white;
    background-color: #00995A;
}

.light{
    color: #00995A;
    border: 1px solid #00995A;
}

.white{
    color: white;
    border: 1px solid white;
}

.btn.incomplete{
    background: linear-gradient(0deg, rgba(203, 58, 49, 0.2), rgba(203, 58, 49, 0.2)), #FFFFFF;
    border: 0.764706px solid #CB3A31;   
    color: red;
}

.white{
    background-color: #757575;
    color: white;
}

a{
    text-decoration: none;
}


/* Dashbord */
.list-pesanan-container{
    display: flex;
    gap: 30px;
}

.dashbord-container{
    width: 400px;
    display: flex;
    justify-content: center;
}   

.dashbord-container .dashbord-content{
    width: 60%;
    border: 1px solid black;
    background-color: white;
    height: fit-content;
    border-radius: 10px;
}

.dashbord-content .dashbord-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.dashbord-profile .dashbord-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 5px 0;
    flex-wrap: wrap;
}

.dashbord-img img{
    width: 60%;
}

.dashbord-profile .profile-nama{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.dashbord-content .dashbord-nav{
    display: flex;
    flex-flow: column;
    gap:5px;
    margin: 5px 10px;
}

.dashbord-nav .nav-ping:hover{
    background-color: #00995A;
    color: white;
}

.dashbord-nav .nav-ping{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5%;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 15px;
    color: black;
}

/* payment */
.list-order-container{
    width: 50%;
}

.payment-text{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 25px;
}

.my-payment-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    column-gap: 150px;
    justify-content: space-between;
    margin-top: 20px;
}

.list-order-container .freshpay-content{
    display: flex;
    gap: 10px 0;
    flex-flow: column;
    padding: 10px;
}

.chart-items{
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}

.payment-item{
    background-color: white;
    display: flex;
    padding: 30px 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    justify-content: space-between;
}

.payment-item:hover{
    border: 2px solid #00995A;
}

.payment-content{
    display: flex;
    gap: 10px;  
}

.motode-pembayaran{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
}

.circle{
    background-color:#F0F0F0;
    border-radius: 50%;
    width: 5%;
    height: 15  px;
}

.payment-item img{
    width: 80px;
}

/* ringkasan pembayaran */
.ringkasan-pembayaran-container{
    width: 400px;
    height: 250px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 23.96px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.ringkasan-pembayaran-container .ringkasan-pembayaran{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19.0569px;
    letter-spacing: 0.190569px;
}

.ringkasan-pembayaran-container .total-tagihan{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.190569px;
    margin-top: 20px;
}

.ringkasan-pembayaran-container .biaya-layanan{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.190569px;
}

.total-tagihan{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.biaya-layanan{
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.total-harga{
    margin: 5px 0 10px 0;
    display: flex;
    justify-content: space-between; 
}

.tagihan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.952846px;
}

.ringkasan-pembayaran-btn{
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.952846px;
}

.harga-tagihan{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.190569px;
}