*,*::after, *::before{
    box-sizing: border-box;
}

h1,h2,h3,h4,p, div, span{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F0F0;;
}

.wrapper{
    margin: 0 20px;
    display: block;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 5.38px;
    border-radius: 2.15px;
    text-decoration: none;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 10px;
}

.dark, .btn.dark a{
    color: white;
    background-color: #00995A;
    text-decoration: none;
}

.light, a.btn.light{
    color: #00995A;
    border: 1px solid #00995A;
    text-decoration: none;
}


/* chart */
.my-chart{
    margin-top: 20px;
}

.text-chart{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 25px;
}

.my-chart-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 150px;
    justify-content: space-between;
    margin-top: 50px;
}

.chart-items{
    display: grid;
    grid-auto-rows: 1fr;
    gap: 20px;
}

.chart-item{
    display: flex;
    flex-flow: column;
    border: 2.17778px solid #FFFFFF;
    background-color: white;
    border-radius: 23.9556px;
    padding: 10px;
    height: 140px;
}

.item-content{
    display: flex;
    justify-content: flex-start;
}

.chart-img{
    width: 60px;
}

.chart-img img{
    width: 100%;
}

.item-desc{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: start;
    margin: 10px;
}

.item-desc h3{
    margin-top: 10px;
}

.item-desc .nama-item{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.261333px;
}

.item-desc .kuantitas-item{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.261333px;
    color: #757575;
}

.harga-content{
    display: flex;
    flex-flow: column;
    align-items: end;
    justify-content:start;
    gap: 20px;
}

.harga-content img{
    width: 30%;
    display: inline-block;
}

.harga-content .harga{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.261333px;
    width: 80px;
}

.chart-pembayaran{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.chart-pembayaran .chart-total-harga{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.261333px;
    color: #757575;
}

.chart-pembayaran .harga-keseluruhan{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.261333px;
    color: #0A0A0A;
}

.chart-pembayaran .kuantitas{
    display: flex;
    gap: 10px;
}

.chart-pembayaran .add-to{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.261333px;
    color: #757575;
}

.chart-pembayaran .jumlah{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.261333px;
}

.kuantitas{
    display: flex;
    gap: 10px;
    align-content: center;
}

.kuantitas .kuantitas-btn{
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 6.53333px;
    justify-content: center;
    align-items: center;
}

/* Pembayaran */
.ringkasan-pembayaran-container{
    width: 400px;
    height: 250px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 23.96px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.ringkasan-pembayaran-container .ringkasan-pembayaran{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19.0569px;
    letter-spacing: 0.190569px;
}

.ringkasan-pembayaran-container .total-tagihan{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.190569px;
    margin-top: 20px;
}

.ringkasan-pembayaran-container .biaya-layanan{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.190569px;
}

.total-tagihan{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.biaya-layanan{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.tagihan h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.952846px;
}

.ringkasan-pembayaran-btn{
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.952846px;
}

/* recomendation */
.explore-categories{
    height: 275px;
}

.explore-categories .head-explore-categories{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}   

.head-explore-categories h2{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.head-explore-categories ul{
    display: flex;
    gap: 20px;
}

.head-explore-categories ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.container-explore-categories{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    gap: 40px;
    justify-content: space-between;
}

.categories-item{
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 17.2114px;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.121492px;
}

.explore-item-container{
    display: flex;
    gap: 40px;
}

.row{
    display: flex;
}

.row img{
    cursor: pointer;
}

/* Voucher */
.daily-best{
    margin-top: 100px;
}

.discount-voucher{
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.discount-voucher .discount-content{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.redeem-voucher{
    display: flex;
    align-items: center;
    gap: 5px;
}

.redeem-voucher h3{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.260991px;
}

.redeem-voucher .persent{
    padding: 10px;
    border-radius: 50%;
    background-color: #f2fbf8;
    color: #009959;
}

.row-right{
    display: flex;
    justify-content: center;
}

/* Featured Product */
.head-daily-best{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin-top: 30px;
}

.head-daily-best h2{
    margin: 0;
    padding: 0; 
    font-family: 'Quicksand';   
    font-weight: 600;
    font-size: 25px;
}

.daily-best-item-container{
    display: flex;
    margin-top: 60px;
    gap: 10px;
}

.daily-best-item-img{
    text-align: center;
}

.daily-best-item-img img{
    width: 100px;
}

.daily-best-item{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1.01244px solid rgba(173, 173, 173, 0.25);
    border-radius: 3.03731px;
    padding: 10px;
}

.daily-best-item h3{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 15px;
    color: #253D4E;
    margin: 0 0 10px 0;
}

.harga-daily-best{
    margin: 10px 0;
    display: flex;
}

.harga-daily-best p{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 15px; 
    color: #009959;
    padding: 0;
    margin: 0;
}

.harga-daily-best span{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    color: #757575;
}

.daily-best-btn img{
    width: 12.15px;
}   

.daily-best-btn{
    height: 40.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.02487px;
    gap: 5.06px;
}

.daily-best-btn a{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 14.1741px;
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    margin-left: 5px;
}